body{
    background-image: url(pexels-rok-romih-1746122-3848158.jpg)
}
/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    display: inline;
    margin-right: 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-menu li a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.navbar-account {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Footer Styles */
.footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
