/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(aa.jpg);
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 20px;
    font-weight: bold;
}

.navbar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    display: inline;
    margin-right: 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-menu li a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.navbar-account {
    display: flex;
    align-items: center;
    font-size: 14px;
}
  
  .courses {
    display: flex;
    flex-wrap: wrap;
  }
  
  .course {
    width: calc(50% - 20px);
    margin: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .course h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  video {
    width: 100%;
    margin-bottom: 10px;
  }
  
  a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: #0056b3;
  }
  